[user]
	name = Julian Pineda
	email = studio@miroamarillo.com
[core]
	excludesfile = ~/gitignore
[web]
	browser = google-chrome
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
